.marquee {
  display: flex;
  position: relative;

  overflow: hidden;
  user-select: none;
  --gap: 1rem;
  gap: var(--gap);

  height: 50px;
}

.marquee-content {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  min-width: 100%;

  gap: var(--gap);
  animation: scroll 10s paused linear infinite;

  color: lightgrey;
  font-size: 7dvh;
  text-decoration: none;
  border: 0.1vh solid white;
}

.marquee:hover .marquee-content {
  animation-play-state: running;
}


@media (prefers-reduced-motion: reduced) {
  .marquee-content:hover {
    animation-play-state: paused !important;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}